﻿ <!-- Main Header -->
<header class="main-header" id="HeaderDiv">
    <!-- Logo -->
    <a href=".." class="logo hidden-xs">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>AY</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>PAY</b>HS</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">@{ WriteLiteral(q.userdata.user.Ad + " " + q.userdata.user.Soyad);}</span>
                    </a>

                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        @Html.Raw(q.viewData["Menu"])
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div id="wrap" style="overflow-y: auto;padding: 1px 0px 0 0;">
        <div class="nav-tabs-custom" id="MainTabWindow" style="padding: 0;  margin: 0;">
            <ul class="nav nav-tabs" id="MainTabLi"></ul>
            <div class="tab-content" id="MainTabContent" style="padding: 0;margin: 0;"></div>
        </div>
    </div>
    <style>
        .main-footer {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 999;
        }

        .window-tab {
            overflow-y: auto;
            padding: 4px;
        }
    </style>
</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<div class="main-footer" id="mainfooter" style="padding:0 0 0 0 !important; height:32px;">
    <div class="hide">
        <!-- To the right -->
        <div class="pull-right hidden-xs ">
            YSA - AI
        </div>
        <!-- Default to the left -->
        <strong class="hide">Copyright &copy; 2017 <a href="#">PAYHS</a>.</strong> All rights reserved.
    </div>
</div>
<div class="control-sidebar-bg"></div>
<script>
    $$.giris = {
        load: function () {
            try { $('body').attr('class', 'skin-green-light sidebar-mini fixed'); } catch (e) { };
            $$.MainTab.load($('#MainTabLi'), $('#MainTabContent'), $('#MainTabWindow'));
            //$$.MainTab.add(true, "", "loaed");
            $$.MENU.load(@Html.Raw(q.viewData["MenuList"]));
            try { LoadForm(); } catch (e) { };

            try {
                $$.dialog.load(true, '#HeaderDiv', '#mainfooter', '.main-sidebar');
            } catch (e) {

            }
        }
    };
    $(document).ready(function () {
        $.jqx.theme = "bootstrap"
        $$.giris.load();

        document.title = "Hoş Geldiniz PAYHS";
    });

    try {
        var Fnc = function () {

            $$.MainTab.add(false, "TanitimDivi", "Tanıtım");
            $('#TanitimDivi').html('<center><iframe width="80%" height="550px" min-height="550px" src = "https://www.youtube.com/embed/UiqnX6JU2UQ?rel=0&amp;showinfo=0" frameborder= "0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>');
        }
        setTimeout(Fnc, 200);
    } catch (e) {

    }


</script>  

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110477709-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110477709-1');
</script>
