﻿<div class="login-box" id="login_box">
    <div class="login-logo">
        <a href="@q.getDomanin"><b>PAY</b>HS</a>
        <h4 style="color: #8c8484;">payment at high speed</h4>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Hoş Gelginiz</p>
        <form onsubmit="$$.LoginPage.giris(); return false;" method="post">
            <div class="form-group has-feedback">
                <input type="text" id="email" class="form-control" placeholder="Kimlik-Identity">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="pas" class="form-control" placeholder="Şifre-Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox icheck hidden">
                        <label>
                            <input type="checkbox"> Beni Hatırla - Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş - Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->
        <a href="#">Şifremi Hatırlamıyorum. I forgot my password.</a>
    </div>
    <!-- /.login-box-body -->
</div>
<script>
    $$.LoginPage = {
        load: function () {
            $('body').attr("class", "hold-transition login-page");
        },
        giris: function () {
            var user = $('#login_box #email').val();
            var pas = $('#login_box #pas').val();
            @Html.Raw(q.viewData["func"]);
        }
    }
    $$.LoginPage.load();
</script>
