﻿<div class="col-md-12" id="BirimDuzenlemeRow">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Birim Oluşturma ve Düzenleme Ekranı</h3>
        </div>
        <div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Genel Birim Tanımı</h3>
                    </div>
                    <form role="form" onsubmit="return false;">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="BirimTipId">Birim Tipi</label>
                                <div id="BirimTipId"></div>
                            </div>
                            <div class="form-group">
                                <label for="UstBirimId">Bağlı Olduğu Üst Birim</label>
                                <div id="UstBirimId"></div>
                            </div>
                            <div class="form-group">
                                <label for="BirimAdi">Birim Adı</label>
                                <input type="text" class="form-control" id="BirimAdi" maxlength="250" placeholder="Birim Adı">
                            </div>
                            <div class="form-group">
                                <label for="BirimAdiGlobal">Birim Adı Global</label>
                                <input type="text" class="form-control" id="BirimAdiGlobal" maxlength="250" placeholder="Birim Adı Global">
                            </div>
                            <div class="form-group">
                                <label for="BirimKodu">Birim Kodu</label>
                                <input type="text" class="form-control" id="BirimKodu" maxlength="5" placeholder="Birim Kodu">
                            </div>
                            <div class="form-group">
                                <label for="AktifId">Aktif Mi?</label>
                                <div id="AktifId"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 programHide" id="BirimOzellikView">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Birim Özellikleri</h3>
                    </div>
                    <form role="form" onsubmit="return false;">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="AzamiYariYil">Azami Yarıyıl</label>
                                <div id="AzamiYariYil"></div>
                            </div>
                            <div class="form-group">
                                <label for="KacYariYil">Kac Yarıyıl</label>
                                <div id="KacYariYil"></div>
                            </div>
                            <div class="form-group">
                                <label for="WebGorunsunId">Webde Görünsün Mü?</label>
                                <div id="WebGorunsunId"></div>
                            </div>
                            <div class="form-group">
                                <label for="HazirlikVarMi">Hazırlık Var Mı?</label>
                                <div id="HazirlikVarMi"></div>
                            </div>
                            <div class="form-group">
                                <label for="HazirlikModulId">Hazırlık Modülü?</label>
                                <div id="HazirlikModulId"></div>
                            </div>
                            <!--div class="form-group">
                                <label for="IsyeriId">Firma - İşyeri</label>
                                <div id="IsyeriId"></div>
                            </div-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 programHide" id="BirimGridView">
                <br />
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bursluluk ve Birim Yök Entegrasyonu</h3>
                    </div>
                    <div id="BursTanimlariGrid">
                        Burs Tanımları Grid
                    </div>

                </div> 
             </div>
            <div class="clearfix"></div>
            <div>
                <button class="btn btn-success" onclick="$$.BirimDuzenleme.save();">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script>
    $$.BirimDuzenleme = {
        model:@Html.Raw(q.viewData["modelBirim"].toSerializeJson()),
        BirimTip:@Html.Raw(q.viewData["BirimTip"].toSerializeJson()),
        EvetHayir:@Html.Raw(q.viewData["EvetHayir"].toSerializeJson()),
        HazirlikModulId:@Html.Raw(q.viewData["HazirlikModulId"].toSerializeJson()),
        IsyeriId:@Html.Raw(q.viewData["IsyeriId"].toSerializeJson()),
        //CompleteBirimFunc:Html.Raw(q.viewData["CompleteBirimFunc"].toSerializeJson()),
        Id: "#BirimDuzenlemeRow",
        GetComboDataAdaptor: function (data) {
            //var xx = obj;
            var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafields:
                    [
                        { name: "GrupId", type: "int" },
                        { name: "UstGrupId", type: "int" },
                        { name: "GrupAdi", type: "string" },
                        { name: "GrupKodu", type: "string" },
                        { name: "GrupAciklamasi", type: "string" },
                        { name: "TipId", type: "long" },
                        { name: "UstTipId", type: "long" },
                        { name: "Ad", type: "string" },
                        { name: "Aciklama", type: "string" },
                        { name: "ExtraKod", type: "string" },
                        { name: "ExtraKod2", type: "string" },
                        { name: "BasTarih", type: "DateTime" },
                        { name: "BitTarih", type: "DateTime" },
                        { name: "BasDec", type: "decimal" },
                        { name: "BitDec", type: "decimal" }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            return dataAdapter;
        },
        modelView: {
            Birim: {
                BirimTipId: null,
                UstBirimId: null,
                BirimAdi: null,
                BirimAdiGlobal: null,
                BirimKodu: null
            },
            BirimOzellikleri: {
                WebGorunsunId: null,
                AzamiYariYil: null,
                KacYariYil: null,
                HazirlikVarMi: null,
                HazirlikModulId: null,
                //IsyeriId: null
            }
        },
        save: function myfunction() {
            var data = $$.BirimDuzenleme.model;
            data.Birim.BirimAdi = $($$.BirimDuzenleme.modelView.Birim.BirimAdi).val();
            data.Birim.BirimTipId = $($$.BirimDuzenleme.modelView.Birim.BirimTipId).jqxDropDownList('getSelectedItem').value;
            data.Birim.AktifId = $($$.BirimDuzenleme.modelView.Birim.AktifId).jqxDropDownList('getSelectedItem').value;
            data.Birim.UstBirimId = $$.get_combobox($$.BirimDuzenleme.modelView.Birim.UstBirimId).value;
            data.Birim.BirimAdiGlobal = $($$.BirimDuzenleme.modelView.Birim.BirimAdiGlobal).val();
            data.Birim.BirimKodu = $($$.BirimDuzenleme.modelView.Birim.BirimKodu).val();
            data.BirimOzellikleri.WebGorunsunId = $($$.BirimDuzenleme.modelView.BirimOzellikleri.WebGorunsunId).jqxDropDownList('getSelectedItem').value;
            data.BirimOzellikleri.AzamiYariYil = $($$.BirimDuzenleme.modelView.BirimOzellikleri.AzamiYariYil).jqxNumberInput('val');
            data.BirimOzellikleri.KacYariYil = $($$.BirimDuzenleme.modelView.BirimOzellikleri.KacYariYil).jqxNumberInput('val');
            data.BirimOzellikleri.HazirlikVarMi = $($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikVarMi).jqxCheckBox('checked');
            data.BirimOzellikleri.HazirlikModulId = $($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId).jqxDropDownList('getSelectedItem');
            //data.BirimOzellikleri.IsyeriId = $($$.BirimDuzenleme.modelView.BirimOzellikleri.IsyeriId).jqxDropDownList('getSelectedItem').value;
            if (data.BirimOzellikleri.HazirlikVarMi == true) {
                if (data.BirimOzellikleri.HazirlikModulId == null) {
                    alert("Programda hazırlık varsa hazırlık modülü seçili olmalıdır");
                    return;
                } else
                    data.BirimOzellikleri.HazirlikModulId = data.BirimOzellikleri.HazirlikModulId.value;
            } else
            {
                if (data.BirimOzellikleri.HazirlikModulId !== null)
                {
                    alert("Programda hazırlık yoksa hazırlık modülü seçili olmamalıdır");
                    return;
                }

            }

            var rows = $($$.BirimDuzenleme.Id +" #BursTanimlariGridData").jqxGrid('getboundrows');
            data.BirimKodlari = rows;

            data = JSON.stringify(data);
            @Html.Raw(q.viewData["FuncSave"])
        },
        load: function ()
        {
            debugger;
            $$.BirimDuzenleme.modelView.Birim.BirimTipId =$($$.BirimDuzenleme.Id + " #BirimTipId").jqxDropDownList(
                { source: $$.BirimDuzenleme.GetComboDataAdaptor($$.BirimDuzenleme.BirimTip), displayMember: "Ad", selectedIndex: 0,  valueMember: "TipId", width: "100%", height: 30, autoItemsHeight: true, autoDropDownHeight: true }
            );
            $$.set_dropdownlist($$.BirimDuzenleme.modelView.Birim.BirimTipId, $$.BirimDuzenleme.model.Birim.BirimTipId, $$.BirimDuzenleme.model.Birim.BirimTipAdi);

            $$.BirimDuzenleme.modelView.Birim.BirimAdi = $($$.BirimDuzenleme.Id + " #BirimAdi").jqxInput(
                { placeHolder: "Birim Adı Giriniz", height: 30, width: "100%", minLength: 3, maxLength: 250 , }
            );
            $($$.BirimDuzenleme.modelView.Birim.BirimAdi).jqxInput('val', $$.BirimDuzenleme.model.Birim.BirimAdi);

            $$.BirimDuzenleme.modelView.Birim.BirimAdiGlobal = $($$.BirimDuzenleme.Id + " #BirimAdiGlobal").jqxInput(
                { placeHolder: "Birimin Global Adını Giriniz", height: 30, width: "100%", minLength: 3, maxLength: 250 }
            );
            $($$.BirimDuzenleme.modelView.Birim.BirimAdiGlobal).jqxInput('val', $$.BirimDuzenleme.model.Birim.BirimAdiGlobal);

            $$.BirimDuzenleme.modelView.Birim.BirimKodu = $($$.BirimDuzenleme.Id + " #BirimKodu").jqxInput(
                { placeHolder: "Birim Kodunu Giriniz", height: 30, width: "100%", minLength: 0, maxLength: 5 }
            );
            $($$.BirimDuzenleme.modelView.Birim.BirimKodu).jqxInput('val', $$.BirimDuzenleme.model.Birim.BirimKodu);


            $$.BirimDuzenleme.modelView.BirimOzellikleri.WebGorunsunId = $($$.BirimDuzenleme.Id + " #WebGorunsunId").jqxDropDownList(
                { source: $$.BirimDuzenleme.GetComboDataAdaptor($$.BirimDuzenleme.EvetHayir), displayMember: "Ad", valueMember: "TipId", selectedIndex: 0, width: "100%", height: 30, autoItemsHeight: true, autoDropDownHeight: true }
            );


            $$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId = $($$.BirimDuzenleme.Id + " #HazirlikModulId").jqxDropDownList(
                { source: $$.BirimDuzenleme.GetComboDataAdaptor($$.BirimDuzenleme.HazirlikModulId), displayMember: "Ad", valueMember: "TipId", selectedIndex: 0, width: "100%", height: 30, autoItemsHeight: true, autoDropDownHeight: true }
            );
            /*
            $$.BirimDuzenleme.modelView.BirimOzellikleri.IsyeriId = $($$.BirimDuzenleme.Id + " #IsyeriId").jqxDropDownList(
                { source: $$.BirimDuzenleme.GetComboDataAdaptor($$.BirimDuzenleme.IsyeriId), displayMember: "Ad", valueMember: "TipId", selectedIndex: 0, width: "100%", height: 30, autoItemsHeight: true, autoDropDownHeight: true }
            );

            $$.set_dropdownlist(
                $$.BirimDuzenleme.modelView.BirimOzellikleri.IsyeriId,
                $$.BirimDuzenleme.model.BirimOzellikleri.IsyeriId,
                $$.BirimDuzenleme.model.BirimOzellikleri.IsyeriAdi);*/
            $$.set_dropdownlist(
                $$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId,
                $$.BirimDuzenleme.model.BirimOzellikleri.HazirlikModulId,
                $$.BirimDuzenleme.model.BirimOzellikleri.HazirlikModulAdi);

            $$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikVarMi = $($$.BirimDuzenleme.Id + " #HazirlikVarMi").jqxCheckBox({
                width: '100%', height: 30, checked: $$.BirimDuzenleme.model.BirimOzellikleri.HazirlikVarMi
            });

            //$($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId).jqxDropDownList('clearSelection', true);
            var x = $('<div unselectable="on" style="background-color: transparent;border: none;float: right;position: relative;width: 18px;height: 30px;margin-top: -30px;margin-right: 15px;"><div unselectable="on" class="jqx-window-close-button-light jqx-icon-close jqx-icon-close-ligh jqx-icon jqx-icon-bootstrap"></div></div>');
            x.bind('click', function () {
                $($(this).parent()).jqxDropDownList('clearSelection', true);
            });
            $($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId).append(x);

            $($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikVarMi).bind('change', function (event) {
                var checked = event.args.checked;
                if (!checked)
                {
                    $($$.BirimDuzenleme.modelView.BirimOzellikleri.HazirlikModulId).jqxDropDownList('clearSelection', true);
                };
            });


            $$.set_dropdownlist(
                $$.BirimDuzenleme.modelView.BirimOzellikleri.WebGorunsunId,
                $$.BirimDuzenleme.model.BirimOzellikleri.WebGorunsunId,
                $$.BirimDuzenleme.model.BirimOzellikleri.WebGorunsunAdi);

            $$.BirimDuzenleme.modelView.Birim.AktifId = $($$.BirimDuzenleme.Id + " #AktifId").jqxDropDownList(
                { source: $$.BirimDuzenleme.GetComboDataAdaptor($$.BirimDuzenleme.EvetHayir), displayMember: "Ad", valueMember: "TipId", selectedIndex: 0, width: "100%", height: 30, autoItemsHeight: true, autoDropDownHeight: true }
            );

            $$.set_dropdownlist(
                $$.BirimDuzenleme.modelView.Birim.AktifId,
                $$.BirimDuzenleme.model.Birim.AktifId,
                $$.BirimDuzenleme.model.Birim.AktifAdi);

            $$.BirimDuzenleme.modelView.BirimOzellikleri.AzamiYariYil = $($$.BirimDuzenleme.Id + " #AzamiYariYil").jqxNumberInput({ promptChar: '', width: '100%', height: '30px', spinButtons: true, digits: 2, decimalDigits: 0, inputMode: 'simple' });
            $($$.BirimDuzenleme.modelView.BirimOzellikleri.AzamiYariYil).jqxInput('val', $$.BirimDuzenleme.model.BirimOzellikleri.AzamiYariYil);

            $$.BirimDuzenleme.modelView.BirimOzellikleri.KacYariYil = $($$.BirimDuzenleme.Id + " #KacYariYil").jqxNumberInput({ promptChar: '', width: '100%', height: '30px', spinButtons: true, digits: 2, decimalDigits: 0, inputMode: 'simple' });
            $($$.BirimDuzenleme.modelView.BirimOzellikleri.KacYariYil).jqxInput('val', $$.BirimDuzenleme.model.BirimOzellikleri.KacYariYil);

            $$.BirimDuzenleme.modelView.Birim.UstBirimId = @Html.Raw(q.viewData["CompleteBirimFunc"]);

            $($$.BirimDuzenleme.modelView.Birim.BirimTipId).bind('change', function (event) {
                $$.BirimDuzenleme.ChangeBirimTip();
            });
            $$.BirimDuzenleme.ChangeBirimTip();

        },
        ChangeBirimTip: function () {
            var a = $($$.BirimDuzenleme.modelView.Birim.BirimTipId).jqxDropDownList('getSelectedItem');
            if (a.originalItem.ExtraKod == "program") {
                $('#BirimDuzenlemeRow #BirimOzellikView').show();
                $('#BirimDuzenlemeRow #BirimGridView').show();
            } else {
                $('#BirimDuzenlemeRow #BirimOzellikView').hide();
                $('#BirimDuzenlemeRow #BirimGridView').hide();
            }
        }
    };
    $$.BirimDuzenleme.load();
</script>