﻿ 
<div class="col-md-12">
    <div class="box box-primary" id="SabitTanim">
        <div class="box-header with-border">
            <h3 class="box-title">@(((AJAXPMVC.Ents.SabitTanim)q.viewData["ekrantipi"]).SayfaAdi)</h3>
        </div>
        <div class="box-body">
            <div id="T_@Html.Raw(q.viewData["TabDivId"].ToString().Md5Sum())">

            </div>
        </div>
    </div>
</div>
<script>
    $$.C.SabitTanim = function (TabDivId, ekrantipi, Data, Sabit, SabitUst, ComboData, BasDecColTipGrupId, BitDecColTipGrupId) {

        this.TabDivId = "#" + TabDivId;
        this.id = this.TabDivId + " #T_@Html.Raw(q.viewData["TabDivId"].ToString().Md5Sum())";
        this.Data = Data;
        this.Sabit = Sabit;
        this.SabitUst = SabitUst;
        this.ekrantipi = ekrantipi;
        this.ComboData = ComboData;
        this.BasDecColTipGrupId = BasDecColTipGrupId;
        this.ekrantipi = ekrantipi;
        this.BitDecColTipGrupId = BitDecColTipGrupId;
        this.objId = "T_@Html.Raw(q.viewData["TabDivId"].ToString().Md5Sum())";
        var obj = this;
        this.Ekle = function () {
            var xx = obj;
            var value = $(xx.id).jqxGrid('addrow', null, { Id: 0,TipId: null,TipGrupId: xx.Sabit.Id,BasDec: null,BitDec: null,KullaniciId: 0,BasTarih: null,BitTarih: null});
        };
        this.Sil = function (dataRecord, durum) {
            var xx = obj;
            debugger;

           // var dataRecord = $(xx.id).jqxGrid('getrowdata', row);
            if ((dataRecord.Id == 0 || dataRecord.Id == null) || durum == true) {
                $(xx.id).jqxGrid('deleterow', dataRecord.uid);
            } else {
                var data = JSON.stringify( dataRecord);
                @Html.Raw(q.viewData["fntipsil"]);
            }

        };
        this.Kaydet = function () {
            var xx = obj;
            var data = JSON.stringify($(xx.id).jqxGrid('getboundrows'));
            var sabit = JSON.stringify(xx.Sabit);
            @Html.Raw(q.viewData["fntipKaydet"]);

        };

        this.GetDataAdaptor = function (data) {
            var source =
                {
                    localdata: this.Data,
                    datatype: "array",
                    datafields:
                    [
                        { name: 'Id', type: 'int' },
                        { name: 'TipId', type: 'int' },
                        { name: 'UstTipAdi', type: 'string' },
                        { name: 'TipGrupId', type: 'int' },
                        { name: 'Ad', type: 'string' },
                        { name: 'Aciklama', type: 'string' },
                        { name: 'ExtraKod', type: 'string' },
                        { name: 'ExtraKod2', type: 'string' },
                        { name: 'BasDecAd', type: 'string' },
                        { name: 'BitDecAd', type: 'string' },
                        { name: 'BasTarih', type: 'date' },
                        { name: 'BitTarih', type: 'date' },
                        { name: 'KullaniciId', type: 'double' },
                        { name: 'BasDec', type: 'decimal' },
                        { name: 'BitDec', type: 'decimal' },
                        { name: 'Edit', type: 'boot' }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            return dataAdapter;
        }

        this.GetComboDataAdaptor = function (data) {
            //var xx = obj;
            var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafields:
                    [
                        { name: 'id', type: 'int' },
                        { name: 'label', type: 'string' }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            return dataAdapter;
        }

        this.loadNewData = function (data) {
            var xx = obj;
            xx.Data = data;
            var dataAdapter = obj.GetDataAdaptor(this.Data);
            $(xx.id).jqxGrid({source: dataAdapter});
        }

        this.load = function () {
            var obj = this;
            debugger;
            var BasDec = obj.ekrantipi.BasDecColUzunluk.split('|');
            if (BasDec.length != 2)
            {
                BasDec = [1, 0];
            }
            var BitDec = obj.ekrantipi.BitDecColUzunluk.split('|');
            if (BitDec.length != 2) {
                BitDec = [1, 0];
            }
            var columns = [];
            columns.push({ text: 'Id', datafield: 'Id', cellsalign: 'right', columntype: 'numberinput', editable: false, obj: this, width: '50px' });
            columns.push({
                text: this.SabitUst != null ? this.SabitUst.GrupAdi : "", displayfield: 'UstTipAdi', datafield: 'TipId', columntype: 'combobox', width: '150px',
                initeditor: function (row, value, editor) {
                    var xx = obj;
                    editor.jqxComboBox({ source: xx.GetComboDataAdaptor(xx.ComboData), displayMember: 'label', valueMember: 'id', displayMember: 'text', valueMember: 'id', autoOpen: true, autoComplete: true });
                }, hidden: this.SabitUst != null ? false : true
            });
            if (this.ekrantipi.AdColAdi.length > 0)
                columns.push({
                    text: this.ekrantipi.AdColAdi, datafield: 'Ad', width: '200px'
                });

            if (this.ekrantipi.AciklamaColAdi.length > 0)
                columns.push({
                    text: this.ekrantipi.AciklamaColAdi, datafield: 'Aciklama', width: '250px'
                });
            columns.push({
                text: this.ekrantipi.ExtraKodColAdi, datafield: 'ExtraKod', width: '100px', hidden: this.ekrantipi.ExtraKodColAdi.length < 1
            });
            columns.push({
                text: this.ekrantipi.ExtraKod2ColAdi, datafield: 'ExtraKod2', width: '100px', hidden: this.ekrantipi.ExtraKod2ColAdi.length < 1
            });
            columns.push({
                text: this.ekrantipi.BasTarihColAdi, datafield: 'BasTarih', cellsformat: 'dd.MM.yyyy', columntype: 'datetimeinput', width: '100px', hidden: this.ekrantipi.BasTarihColAdi.length < 1
            });
            columns.push({
                text: this.ekrantipi.BitTarihColAdi, datafield: 'BitTarih', cellsformat: 'dd.MM.yyyy', columntype: 'datetimeinput', width: '100px', hidden: this.ekrantipi.BitTarihColAdi.length < 1
            });
            if (this.ekrantipi.BasDecColTipGrupId == 0) {
              
                columns.push(
                    {
                        text: this.ekrantipi.BasDecColAdi,
                        datafield: 'BasDec',
                        width: '100px',
                        cellsalign: 'right',
                        columntype: 'numberinput',
                        hidden: this.ekrantipi.BasDecColAdi.length ==0,
                        createeditor: function (row, cellvalue, editor) {
                            editor.jqxNumberInput({ digits: BasDec[0], decimalDigits: BasDec[1], decimalSeparator: ".", groupSeparator: "," });
                        }
                    });

            } else { 
                columns.push({
                    text: this.ekrantipi.BasDecColAdi,
                    displayfield: 'BasDecAd',
                    datafield: 'BasDec',
                    width: '100px',
                    columntype: 'combobox',
                    initeditor: function (row, value, editor) {
                        var xx = obj;
                        editor.jqxComboBox({ source: xx.GetComboDataAdaptor(xx.BasDecColTipGrupId), displayMember: 'label', valueMember: 'id', autoOpen: true, autoComplete: true });
                    } 
                });

            }

            if (this.ekrantipi.BitDecColTipGrupId == 0) {

                columns.push(
                    {
                        text: this.ekrantipi.BitDecColAdi,
                        datafield: 'BitDec',
                        width: '100px',
                        cellsalign: 'right',
                        columntype: 'numberinput',
                        hidden: this.ekrantipi.BitDecColAdi.length == 0,
                        createeditor: function (row, cellvalue, editor) {
                            editor.jqxNumberInput({ digits: BitDec[0], decimalDigits: BitDec[1], decimalSeparator: ".", groupSeparator: "," });
                        }
                    });

            } else{
                columns.push({
                    text: this.ekrantipi.BitDecColAdi,
                    displayfield: 'BitDecAd',
                    datafield: 'BitDec',
                    width: '100px',
                    columntype: 'combobox',
                    initeditor: function (row, value, editor) {
                        var xx = obj;
                        editor.jqxComboBox({ source: xx.GetComboDataAdaptor(xx.BitDecColTipGrupId), displayMember: 'label', valueMember: 'id', autoOpen: true, autoComplete: true });
                    } 
                });

            }
            columns.push({
                text: 'Sil', datafield: 'Edit', columntype: 'button', width: '80px', obj: this, resizable:false,
                cellsrenderer: function () {
                    return "Sil";
                },
                buttonclick: function (row) {
                    if (!confirm("Emin misiniz?")) return;
                    var xx = obj;
                    var dataRecord = $(xx.id).jqxGrid('getrowdata', row);
                    xx.Sil(dataRecord, false);
                }
            }); 



            try {
                var dataAdapter = obj.GetDataAdaptor(this.Data);
                $(this.id).jqxGrid(
                    {
                        width: '80%',
                        source: dataAdapter,
                        editable: true,
                        showtoolbar: true,
                        enabletooltips: true,
                        selectionmode: 'multiplecellsadvanced',
                        showfilterrow: true,
                        filterable: true,
                        sortable: true,
                        pageable: true,
                        altrows: true,
                        height:500,
                        pagesize: 50,
                        columnsresize: true,
                        columnsautoresize: true,
                        ready: function () {
                           // var xx = obj;
                           // $(xx.id).jqxGrid('autoresizecolumns'); 
                        },
                        rendertoolbar: function (toolbar) {
                            var xx = obj;

                            var eleman = $('<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ekle</button>');

                            eleman.bind('click', xx.Ekle);

                            var elemanKaydet = $('<button class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Kaydet</button>');

                            elemanKaydet.bind('click', xx.Kaydet);

                            toolbar.append(eleman);
                            toolbar.append(elemanKaydet);
                        },
                       // obj: this,
                        pagesizeoptions: ['50', '100', '200'],
                        columns: columns
                    });



                $(this.id).bind('cellendedit', function (event) {
                    debugger;
                    var xx = obj;
                    var dataField = event.args.row;
                    $(xx.id).jqxGrid('setcellvalue', dataField.uid, "Edit", true);
                });

            } catch (e) {
                console.log(e);
            }
        };

        this.load();

    };
    var T_@Html.Raw(q.viewData["TabDivId"].ToString().Md5Sum()) = new $$.C.SabitTanim(
        @Html.Raw(q.viewData["TabDivId"].toSerializeJson()),
        @Html.Raw(q.viewData["ekrantipi"].toSerializeJson()),
        @Html.Raw(q.viewData["data"].toSerializeJson()),
        @Html.Raw(q.viewData["sabit"].toSerializeJson()),
        @Html.Raw(q.viewData["sabitust"].toSerializeJson()),
        @Html.Raw(q.viewData["ComboData"].toSerializeJson()),
        @Html.Raw(q.viewData["BasDecColTipGrupId"].toSerializeJson()),
        @Html.Raw(q.viewData["BitDecColTipGrupId"].toSerializeJson())

        );
    //T_ Html.Raw(q.viewData["TabDivId"].ToString().Md5Sum()).load();
</script>