﻿<div class="col-md-12">
    <div class="box box-primary" id="SabitTanim">
        <div class="box-header with-border">
            <h3 class="box-title">Düzenlemek İstediğiniz Tanımı Listeden Seçiniz.</h3>
        </div>
        <div class="box-body">
            <div id="TanimListesi">

            </div>
        </div>
    </div>
</div>
<script>
    $$.SabitTanimlar = {
        data:@Html.Raw(q.viewData["SabitTanim"].toSerializeJson()),
        id:"#SabitTanim #TanimListesi",
        load: function () {

            var source =
                { 
                    localdata: $$.SabitTanimlar.data,
                    datatype: "array",
                    datafields:
                    [
                        { name: 'Id', type: 'double' },
                        { name: 'SayfaAdi', type: 'string' }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $($$.SabitTanimlar.id).jqxGrid(
                {
                    width: '80%',
                    source: dataAdapter,
                    editable: false,
                    enabletooltips: true,
                    selectionmode: 'multiplecellsadvanced',
                    showfilterrow: true,
                    filterable: true,
                    sortable: true,
                    pageable: true,
                    altrows: true,
                    pagesize: 20,
                    pagesizeoptions: ['20', '50', '100'],
                    columns: [
                        {
                            text: 'Sayfa Adı', datafield: 'SayfaAdi', width:'80%'
                        },
                        {
                            text: 'Düzenle', datafield: 'Edit', columntype: 'button', width: '80px',
                            cellsrenderer: function () {
                                return "Düzenle";
                            },
                            buttonclick: function (row) { 
                                var dataRecord = $($$.SabitTanimlar.id).jqxGrid('getrowdata', row);
                                var data = dataRecord.Id;
                                var TabDivId = $$.MainTab.add(true, "", "Sabit Tanım Düzenle - "+dataRecord.SayfaAdi); 
                                @Html.Raw(q.viewData["fncSabitTanimlar"]);
                            }
                        }
                    ]
                });



        }
    };
    $$.SabitTanimlar.load();
</script>