﻿<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Form Düzenleme</h3>
        </div>
        <form role="form" id="Form" name="Form" onsubmit="return false;">
            <div class="box-body">
                <div class="form-group">
                    <label for="FormAdi">Form Adı</label>
                    <input type="text" class="form-control" id="FormAdi" placeholder="Lütfen Form Adını Giriniz...">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="AktifMi"> Aktif Mi?
                    </label>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="$$.FormDuzenleme.Kaydet();">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<script>
    $$.FormDuzenleme = {
        data:@Html.Raw(q.viewData["frmrow"].toSerializeJson()),
        id:'#FormListGrid',
        load:function(){
            $('#Form #FormAdi').val($$.FormDuzenleme.data.FormAdi); 
            $('#Form #AktifMi').prop( "checked" ,$$.FormDuzenleme.data.AktifMi); 
        },
        Kaydet:function(id){
            //alert(id);
            var data=JSON.stringify( {
                Id:$$.FormDuzenleme.data.Id,
                FormAdi:$('#Form #FormAdi').val(),
                AktifMi:$('#Form #AktifMi').prop( "checked")            
            });
            @Html.Raw(q.viewData["FormDuzenleEkleKaydetFnc"])
        }
    }
    $$.FormDuzenleme.load();
</script>