﻿
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Form Yönetimi</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" onclick="$$.FormList.FormEkleDuzenle(-1);" data-toggle="tooltip" title="Yeni Form Ekle" data-widget="chat-pane-toggle">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>
        <div class="box-body">
            <div id="FormListGrid">

            </div>
        </div>
    </div>
</div>

<script>
    $$.FormList = {
        data:@Html.Raw(q.viewData["FormList"].toSerializeJson()),
        id:'#FormListGrid',
        load:function(){
            var source =
           {
               localdata: $$.FormList.data,
               datafields: [
                   { name: 'Id', type: 'int'},
                   { name: 'FormAdi', type: 'string' },
                   { name: 'AktifMi', type: 'bool' }
               ],
               datatype: "array"
           };
            var dataAdapter = new $.jqx.dataAdapter(source);

            $($$.FormList.id).jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                columnsresize: true,
                sortable: true,
                columns: [
                  { text: 'Id', datafield: 'Id', width: 20 },
                  { text: 'Form Adı', datafield: 'FormAdi', width: 250 },
                  { text: 'Aktif Mi?', datafield: 'AktifMi', width: 100 } ,
                  {
                      text: '', width: 120 ,
                      datafield: 'Edit',
                      columntype: 'button',
                      cellsrenderer: function () {return "Form Düzenleme";},
                      buttonclick: function (row) {
                          editrow = row;
                          var data = $($$.FormList.id).jqxGrid('getrowdata', row);
                          $$.FormList.FormEkleDuzenle(data.Id);
                      }
                  },
                  {
                      text: '', width: 120 ,
                      datafield: 'Delete',
                      columntype: 'button',
                      cellsrenderer: function () {return "Sil";},
                      buttonclick: function (row) {
                          editrow = row;
                          var data = $($$.FormList.id).jqxGrid('getrowdata', row);
                          $$.FormList.Sil(data.Id);
                      }
                  },
                  {
                      text: '', width: 120 ,
                      datafield: 'Manager',
                      columntype: 'button',
                      cellsrenderer: function () {return "Form Manager";},
                      buttonclick: function (row) {
                          editrow = row;
                          var data = $($$.FormList.id).jqxGrid('getrowdata', row);
                          $$.FormList.FormManager(data.Id);
                      }
                  }
                ]
            });
        },
        FormEkleDuzenle:function(id){
            //alert(id);
            var data=id;
            @Html.Raw(q.viewData["FormDuzenlemeFnc"])
        },
        Sil:function(id){
            //alert(id);
            var data=id;
            @Html.Raw(q.viewData["FormDuzenlemeSilFnc"])
        },
        FormManager:function(id){
            //alert(id);
            $$.MainTab.add(false,"FormManagerTab","Form Manager");
            var data=id;
            @Html.Raw(q.viewData["FormDuzenlemeFormManagerFnc"])
        }
    }
    $$.FormList.load();
</script>