﻿<div id="@Html.Raw(q.viewData["Id"].ToString())"></div>




<script>
    $$.C.viewFormGenerator = function (Model, Buttons, Id) {
        this.Id = '#' + Id;
        this.Ids =   Id;
        this.Model = Model;
        this.Buttons = Buttons;

        this.GetComboDataAdaptor = function (data) {
            //var xx = obj;
            var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafields:
                    [
                        { name: 'id' },
                        { name: 'Ext1' },
                        { name: 'Ext2' },
                        { name: 'Ext3' },
                        { name: 'html' },
                        { name: 'group' },
                        { name: 'label', type: 'string' }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            return dataAdapter;
        }

        this.load = function () {
            var xx = obj; 
            var FormNesne = $(this.Id);
            for (var i = 0; i < this.Model.length; i++) {
                var fm = this.Model[i];
                var obj = null;
                if (fm.FormBaslik.length > 0) {
                    obj = '<div class="col-md-12" id="' + fm.Id + '"><div class="box box-primary"><div class="box-header with-border"><h3 class="box-title"></h3></div><div role="form" id="Nesneler"></div></div></div>';
                    obj = $(obj);
                    $(obj).find(".box-title").html(fm.FormBaslik);
                } else {
                    obj = '<div id="' + fm.Id + '"><div id="Nesneler"></div></div>';
                    obj = $(obj);
                }
                FormNesne.append(obj);
                var Nesne = $(obj).find('#Nesneler'); 
                
                for (var j = 0; j < fm.Nesneler.length; j++) {
                    var nesnerow = fm.Nesneler[j];
                    switch (nesnerow.Tip) {
                        case "ThreeDot":
                            debugger;
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div class="input-group input-group-sm"><input type="text" tabindexs="' + (j + 1) + '" disabled class="form-control" id="' + this.Model[i].Nesneler[j].id + '" placeholder=""><span class="input-group-btn" ><button  tabindexs="' + (j + 1) + '" type="button" class="btn btn-info btn-flat"> . . . </button></span></div></div>');


                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);
                            this.Model[i].Nesneler[j].obj.find('input').attr("placeholder", this.Model[i].Nesneler[j].baslik);
                            this.Model[i].Nesneler[j].obj.find('button').attr("onclick", this.Model[i].Nesneler[j].fncComboBox);

                            if (this.Model[i].Nesneler[j].maxlenght != null && this.Model[i].Nesneler[j].maxlenght > 0) {
                                this.Model[i].Nesneler[j].obj.find('input').attr("maxlength", this.Model[i].Nesneler[j].maxlenght);
                            }
                            Nesne.append(this.Model[i].Nesneler[j].obj);

                            this.Model[i].Nesneler[j].obj.find('input').attr('dvalue',this.Model[i].Nesneler[j].defaultval);
                            this.Model[i].Nesneler[j].obj.find('input').val(this.Model[i].Nesneler[j].defaulttext);
                            break;
                        case "TextBox":
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><input type="text" tabindexs="' + (j + 1) + '" class="form-control" id="' + this.Model[i].Nesneler[j].id + '" placeholder=""></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);
                            this.Model[i].Nesneler[j].obj.find('input').attr("placeholder", this.Model[i].Nesneler[j].baslik);
                            if (this.Model[i].Nesneler[j].maxlenght != null && this.Model[i].Nesneler[j].maxlenght > 0) {
                                this.Model[i].Nesneler[j].obj.find('input').attr("maxlength", this.Model[i].Nesneler[j].maxlenght);
                            }
                            Nesne.append(this.Model[i].Nesneler[j].obj);
                            this.Model[i].Nesneler[j].obj.find('input').val(this.Model[i].Nesneler[j].defaultval);
                            break; 
                        case "Label": 
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik); 
                            Nesne.append(this.Model[i].Nesneler[j].obj);
                            this.Model[i].Nesneler[j].obj.find('.nesne').html(this.Model[i].Nesneler[j].defaultval);
                            break; 
                        case "CheckBox":

                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);

                            Nesne.append(this.Model[i].Nesneler[j].obj);

                            this.Model[i].Nesneler[j].obj.find('.nesne').jqxCheckBox({ width: '100%', height: 30, hasThreeStates: !this.Model[i].Nesneler[j].Zorunlu, checked: JSON.parse(this.Model[i].Nesneler[j].defaultval) });


                            break;
                        case "TextBoxDate":


                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);

                            Nesne.append(this.Model[i].Nesneler[j].obj); 
                            switch (this.Model[i].Nesneler[j].format)
                            {
                                case "DateTime":
                                    $(this.Model[i].Nesneler[j].obj).find('.nesne').jqxDateTimeInput({ allowNullDate: true, showWeekNumbers: true, showTimeButton: true, showFooter: true, placeHolder: this.Model[i].Nesneler[j].baslik, formatString: "dd.MM.yyyy HH:mm", width: '100%', height: '30px', firstDayOfWeek: 1, culture: 'tr-TR', value: JSON.parse(this.Model[i].Nesneler[j].defaultval) });
                                    break;
                                case "Date":
                                    $(this.Model[i].Nesneler[j].obj).find('.nesne').jqxDateTimeInput({ allowNullDate: true, showWeekNumbers: true, showTimeButton: false, showFooter: true, placeHolder: this.Model[i].Nesneler[j].baslik, formatString: "dd.MM.yyyy", width: '100%', height: '30px', firstDayOfWeek: 1, culture: 'tr-TR', value: JSON.parse(this.Model[i].Nesneler[j].defaultval) });
                                    break;
                                case "Time":
                                    //default:
                                    $(this.Model[i].Nesneler[j].obj).find('.nesne').jqxDateTimeInput({ allowNullDate: true, showTimeButton: true, showCalendarButton: false, placeHolder: this.Model[i].Nesneler[j].baslik, formatString: "HH:mm", width: '100%', height: '30px', firstDayOfWeek: 1, culture: 'tr-TR', value: JSON.parse(this.Model[i].Nesneler[j].defaultval) });
                                    break;

                            }
                            break;
                        case "TextBoxDec":
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);
                            Nesne.append(this.Model[i].Nesneler[j].obj);
                           
                            this.Model[i].Nesneler[j].obj.find('.nesne').jqxNumberInput({
                                width: '100%', height: '30px', inputMode: 'simple', spinButtons: false,
                                allowNull: !this.Model[i].Nesneler[j].Zorunlu,
                                decimal: this.Model[i].Nesneler[j].defaultval,
                                digits: this.Model[i].Nesneler[j].digit,
                                decimalDigits: this.Model[i].Nesneler[j].dec,
                                decimalSeparator: ",",
                                groupSeparator: ".",
                                min: this.Model[i].Nesneler[j].min,
                                max: this.Model[i].Nesneler[j].max == null ? 9999999999 : this.Model[i].Nesneler[j].max 
                            });


                            break;
                        case "DropDownList":
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);

                            Nesne.append(this.Model[i].Nesneler[j].obj);
                            if (true || this.Model[i].Nesneler[j].Zorunlu) {
                                $(this.Model[i].Nesneler[j].obj).find('.nesne').jqxDropDownList(
                                    {
                                        source: this.GetComboDataAdaptor(this.Model[i].Nesneler[j].liste),
                                        displayMember: "label",
                                        valueMember: "id",
                                        selectedIndex: this.Model[i].Nesneler[j].Zorunlu===true?0:-1,
                                        width: "100%", dropDownHeight: 250, placeHolder: '',// this.Model[i].Nesneler[j].baslik,
                                        height: 30,
                                        autoItemsHeight: false, autoDropDownHeight: false, filterable: true, filterPlaceHolder: 'Ara', searchMode:'containsignorecase'
                                    });

                                if (this.Model[i].Nesneler[j].Zorunlu == false) {
                                    var x = $('<div unselectable="on" style="background-color: transparent;border: none;float: right;position: relative;width: 18px;height: 30px;margin-top: -30px;margin-right: 15px;"><div unselectable="on" class="jqx-window-close-button-light jqx-icon-close jqx-icon-close-ligh jqx-icon jqx-icon-bootstrap"></div></div>');
                                    x.bind('click', function () {
                                        $($(this).parent()).jqxDropDownList('clearSelection', true);
                                    });

                                    $($(this.Model[i].Nesneler[j].obj).find('.nesne')).append(x);
                                }


                                $$.set_dropdownlist($(this.Model[i].Nesneler[j].obj).find('.nesne'), this.Model[i].Nesneler[j].defaultval, this.Model[i].Nesneler[j].defaulttext)
                            } else {
                                $(this.Model[i].Nesneler[j].obj).find('.nesne').jqxComboBox( //jqxDropDownList(
                                    {
                                        source: this.GetComboDataAdaptor(this.Model[i].Nesneler[j].liste),
                                        displayMember: "label",
                                        valueMember: "id",
                                        selectedIndex: 0,
                                        width: "100%", dropDownHeight: 250,
                                        height: 30,
                                        autoItemsHeight: true, autoDropDownHeight: true
                                    });

                                $$.combo.set_value($(this.Model[i].Nesneler[j].obj).find('.nesne'), { value: this.Model[i].Nesneler[j].defaultval, id: this.Model[i].Nesneler[j].defaultval, text: this.Model[i].Nesneler[j].defaulttext, label: this.Model[i].Nesneler[j].defaulttext });
                            }
                            break;
                        case "ComboBox":
                            this.Model[i].Nesneler[j].obj = $('<div class="form-group col-xs-12 col-sm-6 col-lg-4 col-md-4" ><label for="' + this.Model[i].Nesneler[j].id + '"></label><div id="' + this.Model[i].Nesneler[j].id + '" class="nesne"></div></div>');
                            this.Model[i].Nesneler[j].obj.find('label').html(this.Model[i].Nesneler[j].baslik);

                            Nesne.append(this.Model[i].Nesneler[j].obj);
                            eval(this.Model[i].Nesneler[j].fncComboBox);
                            eval(this.Model[i].Nesneler[j].fncComboBoxBind);
                            break;
                    }

                    if (j > 0 && j % 2 == 1) {
                        //Nesne.append('<div class="clearfix"><div>');
                    }
                    if (j == 5 && fm.Nesneler.length>8)
                    {
                        Nesne.append('<div class="clearfix"><div>');
                        $(obj).find('#Nesneler').append('<div class="box box-default collapsed-box" style="border: 0px;margin: 0 0 0 0;"><div class="box-body" style="margin: 0px; padding: 0px;"></div><div class="box-header" style="height:30px;padding-right: 40px;text-align: right;"><div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse">Daha fazla/az  <i class="fa fa-plus"></i></button></div></div></div></div>');
                        Nesne = Nesne.find('.box-body'); 
                    }
                }
                Nesne = $(obj).find('#Nesneler');
                Nesne.append('<div class="clearfix"><div>');


                var btnList = null;
                if (fm.Buttonlar.length > 0)
                {
                    btnList = $('<div class="col-md-12"><div class="btn-group" style="float:right;"></div></div>');
                    Nesne.append(btnList);
                    btnList = btnList.find('.btn-group');
                    Nesne.append('<div class="clearfix"><div>');

                    for (var tt = 0; tt < fm.Buttonlar.length; tt++) {
                        var btn = $('<button class="btn" objId="' + this.Ids + '"></button>');
                        $(btn).attr('id', this.Model[i].Buttonlar[tt].btnId);
                        if (this.Model[i].Buttonlar[tt].btnicon.length > 0) {
                            $(btn).html('<i class="' + this.Model[i].Buttonlar[tt].btnicon + '"></i> ' + this.Model[i].Buttonlar[tt].btnname);
                        } else
                            $(btn).html(this.Model[i].Buttonlar[tt].btnname);

                        if (this.Model[i].Buttonlar[tt].bntclass.length > 0)
                            $(btn).addClass(this.Model[i].Buttonlar[tt].bntclass);

                        $(btn).attr('onclickEvent', this.Model[i].Buttonlar[tt].func);
                        $(btn).attr('btnPostKey', this.Model[i].Buttonlar[tt].btnPostKey);
                        $(btn).bind('click', this.buttonsClick);
                        this.Model[i].Buttonlar[tt].obj = btn;
                        btnList.append(this.Model[i].Buttonlar[tt].obj);
                    }

                    Nesne.append('<div class="clearfix"><div><br>');
                }
            }


            var btnList = null;
            if (false && this.Buttons.length > 0)
            {
                btnList = $('<div class="col-md-12"><div class="btn-group" style="float:right;"></div></div>');
                FormNesne.append(btnList);
                btnList = btnList.find('.btn-group');

                FormNesne.append('<div class="clearfix"><div>');

            }

            for (var i = 0;false && i < this.Buttons.length; i++) {
                var btn = $('<button class="btn" objId="' + this.Ids+'"></button>');
                $(btn).attr('id', this.Buttons[i].btnId);
                if (this.Buttons[i].btnicon.length > 0)
                {
                    $(btn).html('<i class="' + this.Buttons[i].btnicon + '"></i> ' + this.Buttons[i].btnname);
                } else
                    $(btn).html(this.Buttons[i].btnname);

                if (this.Buttons[i].bntclass.length > 0)
                    $(btn).addClass(this.Buttons[i].bntclass);

                $(btn).attr('onclickEvent', this.Buttons[i].func);
                $(btn).attr('btnPostKey', this.Buttons[i].btnPostKey);
                $(btn).bind('click', this.buttonsClick);
                this.Buttons[i].obj = btn;
                btnList.append(this.Buttons[i].obj);
            }


        };
        this.buttonsClick = function (obj) { 
            var keys = $(this).attr('objId');
            var func = $(this).attr('onclickEvent');
            objc = window[keys];
            var PostDataModel = {};
            var vl = null;
            for (var i = 0; i < objc.Model.length; i++) {
                PostDataModel[objc.Model[i].Model] = {};
                for (var j = 0; j < objc.Model[i].Nesneler.length; j++) {
                    switch (objc.Model[i].Nesneler[j].Tip)
                    { 
                        case "ThreeDot":
                            vl = objc.Model[i].Nesneler[j].obj.find("input").attr('dvalue');
                            if (objc.Model[i].Nesneler[j].Zorunlu == true && vl.length < 1) {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }
                            PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = vl.length > 0 ? vl : null;
                            break;
                        case "TextBox":

                            vl = objc.Model[i].Nesneler[j].obj.find("input").val();
                            if (objc.Model[i].Nesneler[j].Zorunlu == true && vl.length<1)
                            {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }
                            PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = vl.length > 0 ? vl : null;
                            break;



                        case "CheckBox":
                            PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = $(objc.Model[i].Nesneler[j].obj).find('.nesne').jqxCheckBox('checked');
                            break;
                        case "TextBoxDate":
                            var data = $(objc.Model[i].Nesneler[j].obj).find('.nesne').jqxDateTimeInput('getDate');

                            if (objc.Model[i].Nesneler[j].Zorunlu == true && data ==null) {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }

                            if (data != null) {
                                switch (objc.Model[i].Nesneler[j].format) {
                                    case "DateTime":
                                        PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = data.format("yyyy.MM.dd hh:mm");
                                        break;
                                    case "Date":
                                        PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = data.format("yyyy.MM.dd");
                                        break;
                                    case "Time":
                                        PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = data.format("hh:mm");
                                        break;
                                }
                            }else{
                                PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = null;
                            }
                            break;
                        case "TextBoxDec":
                            PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = $(objc.Model[i].Nesneler[j].obj).find('.nesne').jqxNumberInput('getDecimal');
                            if (PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] == null && objc.Model[i].Nesneler[j].Zorunlu == true)
                            {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }
                            break;
                        case "DropDownList":
                            var data = null;
                            if (true || objc.Model[i].Nesneler[j].Zorunlu){
                                data = $$.get_dropdownlist($(objc.Model[i].Nesneler[j].obj).find('.nesne'));
                            } else {
                                data = $$.get_combobox($(objc.Model[i].Nesneler[j].obj).find('.nesne'));
                            }


                            if (objc.Model[i].Nesneler[j].Zorunlu == true && data == null) {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }

                            if (data != null) {
                                PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = data.value;
                            } else {
                                PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = null;
                            }
                            break;
                        case "ComboBox":
                            var data = $$.get_combobox($(objc.Model[i].Nesneler[j].obj).find('.nesne'));

                            if (objc.Model[i].Nesneler[j].Zorunlu == true && data == null) {
                                alert("Lütfen " + objc.Model[i].Nesneler[j].baslik + " alanı doldurunuz.");
                                return;
                            }

                            if (data != null){
                                PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = data.value;
                            } else {
                                PostDataModel[objc.Model[i].Model][objc.Model[i].Nesneler[j].datakey] = null;
                            }
                            break;
                    }
                }
            }
            debugger;
            var FromData = JSON.stringify(PostDataModel);
            var btnObject = $(this);
            eval(func);
        }
        this.returnEval = function returnEval(str) {
            return function () { eval(str); }
        }
        this.getSelectValue = function () {
            if (this.treeViewGrid == true) {
                var row = $("#" + this.Id).jqxTreeGrid('getSelection');
                if (row.length > 0) {
                    delete row[0].parent;
                    return JSON.stringify(row[0]);
                }
                else
                    return JSON.stringify(null);
            } else {
                var rowindex = $("#" + this.Id).jqxGrid('getselectedrowindex');
                var data = $("#" + this.Id).jqxGrid('getrowdata', rowindex);
                return JSON.stringify(data);
            }
        }
        this.GetObj = function (ModelName, ObjectKey) {
          
            var ModelValue = $.Enumerable.From(this.Model).Where(function (y) { return y.Model == ModelName }).FirstOrDefault();
            if (ModelValue == null){

                throw ("Model Adı Hatası");
                return null;
            }
            var Eleman = $.Enumerable.From(ModelValue.Nesneler).Where(function (y) { return y.datakey == ObjectKey }).FirstOrDefault();
            if (Eleman == null) {

                throw ("Model Adı Hatası");
                return null;
            }

            var RetObject = null;
            switch (Eleman.Tip) {
                case "ThreeDot":
                    RetObject = $(Eleman.obj).find('input');
                    break;
                case "TextBox":
                    RetObject = $(Eleman.obj).find('input');
                    break;
                case "Label":
                    RetObject = $(Eleman.obj).find('.nesne');
                    break;
                case "CheckBox": 
                    RetObject = $(Eleman.obj).find('.nesne');
                    break;
                case "TextBoxDate": 
                    RetObject = $(Eleman.obj).find('.nesne');
                    break;
                case "TextBoxDec": 
                    RetObject = $(Eleman.obj).find('.nesne');
                    break;
                case "DropDownList":
                    RetObject = $(Eleman.obj).find('.nesne'); 
                    break;
                case "ComboBox":
                    RetObject = $(Eleman.obj).find('.nesne');
                    break;
            }

            return { Obj: RetObject, Row: Eleman };
        }

        this.load();
    }



    var @Html.Raw(q.viewData["Id"].ToString()) =
    new $$.C.viewFormGenerator(
        @Html.Raw(q.viewData["Model"].toSerializeJson()) ,
        @Html.Raw(q.viewData["Buttons"].toSerializeJson()) ,
        @Html.Raw(q.viewData["Id"].toSerializeJson())
    );

    </script>
