﻿
<style>
    .nesneStyle {
        padding-bottom: 3px;
    }
</style>
<div style="border:0px dotted black;position:relative; display:block;height:100%;" id="FormManagerMainDiv">



    <div id="jqxLayoutFormWindows">
        <div data-container="ToolboxPanel">
            <!-- #region Tablolar -->
            <div class="box box-primary xs">
                <div class="box-header xs with-border">
                    <h3 class="box-title">Eleman Ekleme</h3>
                </div>
                <div class="box-body">
                    <div style="width: 100%;min-width: 100px;max-width: 250px;text-align: center;height: 16px;border: 1px solid #A67E3A;background-color: lightsalmon;" id="element">
                        <div style="font-size: 10px; font-family: Verdana;">Yeni Nesne Ekle</div>
                    </div>
                </div>
            </div>
            <!-- #endregion  -->
            <!-- #region Tablolar -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Form Tabloları</h3>
                </div>
                <div class="box-body">
                    <div class="input-group input-group-sm">
                        <div class="form-control" id="jqxFormManagerTablolar"></div>
                    </div>
                    <br />
                    <button type="button" class="btn btn-info btn-flat fa fa-plus pull-right" id="jqxFormManagerTablolarAdd"> Ekle</button>
                </div>
            </div>
            <!-- #endregion  -->
            <!-- #region Tablolar -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Form Nesneleri</h3>
                </div>
                <div class="box-body" id="FormNesneleriList">



                </div>
            </div>
            <!-- #endregion  -->

        </div>
        <div data-container="Document1Panel">
            <div class="col-md-12" style="padding-bottom: 10px;">
                <div class="col-md-1 pull-right">
                    <a href="javascript:void(0);" class="btn fa fa-plus pull-right" onclick="$$.FormManager.EkleDiv();"></a>
                </div>
                <div class="col-md-1 pull-right">
                    <input type="button" class="btn btn-xs" value="Satır Sıralama Pasif" id='jqxFormManagerDivSiralama' />
                </div>
                <div class="col-md-1 pull-right">
                    <input type="button" class="btn btn-primary" value="Kaydet Form" id='jqxFormManagerKaydet' />
                </div>
                <div class="col-md-1 pull-right">
                    <button class="btn btn-xs" onclick="@Html.Raw(q.viewData["FormDuzenlemeFormManagerFnc"])">Yeniden Yükle</button>
                </div>
            </div>
            <div id="jqxDivSira" class="sortable-container">

            </div>
        </div>
        <div data-container="PropertiesPanel">
            List of propertiesssss
        </div>
    </div>

</div>
<script>
    $$.FormManager = {
        jqxDivSira: '#jqxDivSira',
        jqxNesne:'#jqxLayoutFormWindows #element',
        jqxNesneTasima:'.Tasi',
        jqxFormNesneleri:'#jqxLayoutFormWindows #FormNesneleriList',
        jqxDivSiraObject: null,
        jqxNesneOlustur:null,
        FormYayin:@Html.Raw(q.viewData["FormYayin"].toSerializeJson()) ,
        FormElemanlari:@Html.Raw(q.viewData["FormElemanlari"].toSerializeJson()) ,
        jqxDivListe: [],
        jqxObjectNumarator:0,
        uniqId: function (str, last) {
            return str + (Math.round(new Date().getTime() + (Math.random() * 100))) + last;
        },
        TabloAdd:function () {
            var data=$("#jqxFormManagerTablolar").jqxComboBox('getSelectedItem');
            if(data==null)
            {
                alert("Tablo Seçmemişsiniz.");
                return;
            }
            var data=JSON.stringify({
                value:data.value,
                text:data.label
            });
            @Html.Raw(q.viewData["fncFormManagerTabloAdd"]);
        },
        TasimaIslemleriLoad:function () {
            $($$.FormManager.jqxNesne).jqxDragDrop({
                feedback: 'clone',
                revert:true,
                tolerance: 'intersect',
                dropTarget: ".dropTarget",
                revertDuration:300,
                appendTo: 'body'
            });


            var fncTemizleNesne=function () {  $$.FormManager.jqxNesneOlustur=null; };
            $($$.FormManager.jqxNesne).unbind('dragStart').bind('dragStart', fncTemizleNesne);
            $($$.FormManager.jqxNesne).unbind('dropTargetLeave').bind('dropTargetLeave', fncTemizleNesne);
            $($$.FormManager.jqxNesne).unbind('dropTargetEnter').bind('dropTargetEnter', function (event) {
                $$.FormManager.jqxNesneOlustur=event;
            });
            $($$.FormManager.jqxNesne).unbind('dragEnd').bind('dragEnd', function () {
                if($$.FormManager.jqxNesneOlustur!=null)
                {
                    var DivId=$$.FormManager.jqxNesneOlustur.args.target.attr('id');
                    var Sira=$$.FormManager.jqxNesneOlustur.args.target.attr('Sira')*1+1;
                    var DefaultId= $$.FormManager.uniqId("LBL_", "");
                    var Ozellikler={
                        ElemanTipiId:1,
                        Sema:"",
                        TabloAdi:""
                    }
                    $$.FormManager.EkleNesne(DefaultId,Sira,DivId,Ozellikler);
                }
            });





            $($$.FormManager.jqxNesneTasima).jqxDragDrop({
                feedback: 'clone',
                revert:true,
                tolerance: 'intersect',
                dropTarget: ".dropTarget",
                revertDuration:300,
                appendTo: 'body'
            });


            var fncTemizleNesne=function () {  return; $$.FormManager.jqxNesneTasi=null; };
            $($$.FormManager.jqxNesneTasima).unbind('dragStart').bind('dragStart', fncTemizleNesne);
            $($$.FormManager.jqxNesneTasima).unbind('dropTargetLeave').bind('dropTargetLeave', fncTemizleNesne);
            $($$.FormManager.jqxNesneTasima).unbind('dropTargetEnter').bind('dropTargetEnter', function (event) {
                $$.FormManager.jqxNesneTasi=event;
            });
            $($$.FormManager.jqxNesneTasima).unbind('dragEnd').bind('dragEnd', function () {
                if($$.FormManager.jqxNesneTasi!=null)
                {
                    if($$.FormManager.jqxNesneTasi.args.target.find('.Tasi').length>0)
                    {

                    }else {
                        $$.FormManager.jqxNesneTasi.args.target.append($$.FormManager.jqxNesneTasi.target);

                        $($$.FormManager.jqxNesneTasi.target).attr('num')
                    }
                }
            });



        },
        EkleNesne:function (DefaultId,Sira,DivId,Ozellikler) {
            var Nesne={
                Id:DefaultId,
                Sira:Sira,
                DivId:DivId,
                Ozellikler:Ozellikler,
                NumaratorId:$$.FormManager.uniqId("OBJ_", $$.FormManager.jqxObjectNumarator),
                SolMenu:null,
                DivOject:null,
                Name:''
            };
            if($('#'+Nesne.DivId+' .Tasi').length>0)
            {
                alert("Aynı hücreye iki nesne ekleyemezsiniz.");
                return;
            }


            var Eleman= $.Enumerable.From($$.FormManager.FormElemanlari.Eleman).Where(function(x){ return x.Id===Nesne.Ozellikler.ElemanTipiId}).FirstOrDefault();
            Nesne.Name=Eleman.Adi+' => '+Nesne.Ozellikler.Sema+"."+Nesne.Ozellikler.TabloAdi;



            $$.FormManager.jqxObjectNumarator++;
            Nesne.SolMenu=$('<div Num="'+Nesne.NumaratorId+'" class="col-md-12 nesneStyle"><button class="btn btn-xs btn-default" style="float: left;position: relative;" id="Sil"><i class="fa fa-trash"></i></button><label id="Etiket">'+Nesne.Name+'</lable></div>');

            Nesne.DivOject=$('<span class="Tasi" Num="'+Nesne.NumaratorId+'"><button class="btn btn-xs btn-default" style="float: left;position: relative;" id="Sil"><i class="fa fa-trash"></i></button><label id="Etiket">'+Nesne.Name+'</lable></span>');

            $($$.FormManager.jqxFormNesneleri).prepend(Nesne.SolMenu);
            $('#'+Nesne.DivId).append(Nesne.DivOject);
            $('#'+Nesne.DivId).attr('Sira',Sira+1);
            $$.FormManager.SetName(Nesne.NumaratorId,Nesne.Name);
        },
        SetName:function (Num,Name) {

        },
        load: function () {
            var fncCombo=function () {

                try {
                    var data=1;

                    var source =
                    {
                        datatype: "json",
                        datafields: [
                            { name: 'Id',type:'int' },
                            { name: 'TabloAdi',type:'string' }
                        ],
                        url: '@Html.Raw(q.viewData["fncFormManagerTablolar"])',
                        data:{maxRows: 12},
                        async: false

                    };
                    var dataAdapter = new $.jqx.dataAdapter(source,
                        {
                            formatData: function (data) {
                                if ($("#jqxFormManagerTablolar").jqxComboBox('searchString') != undefined) {
                                    data.name_startsWith = $("#jqxFormManagerTablolar").jqxComboBox('searchString');
                                    return data;
                                }
                            }
                        });

                    $("#jqxFormManagerTablolar").jqxComboBox(
                    {
                        width: '158px',
                        height:20,
                        source: dataAdapter,
                        remoteAutoComplete: true,
                        autoDropDownHeight: true,
                        selectedIndex: 0,
                        displayMember: "TabloAdi",
                        valueMember: "Id",
                        renderer: function (index, label, value) {
                            var item = dataAdapter.records[index];
                            if (item != null) {
                                var label = item.TabloAdi;
                                return label;
                            }
                            return "";
                        },
                        renderSelectedItem: function(index, item)
                        {
                            var item = dataAdapter.records[index];
                            if (item != null) {
                                var label = item.TabloAdi;
                                return label;
                            }
                            return "";
                        },
                        search: function (searchString) {
                            dataAdapter.dataBind();
                        }
                    });

                } catch (e) {
                    debugger;
                }
                $('#jqxFormManagerTablolarAdd').bind('click',function () {
                    $$.FormManager.TabloAdd();
                });

            }
            setTimeout(fncCombo,100);
            //   $$.FormManager.jqxNesne=$($$.FormManager.jqxNesne);
            setTimeout($$.FormManager.TasimaIslemleriLoad,2000);

            var v = $('#FormManagerMainDiv').width();
            var h = $('#FormManagerMainDiv').height();

            // the 'layout' JSON array defines the internal structure of the layout
            var layout = [{
                type: 'layoutGroup',
                orientation: 'horizontal',
                items: [
                    {
                        type: 'tabbedGroup',
                        alignment: 'left',
                        width: 200,
                        items:
                            [{
                                type: 'layoutPanel',
                                title: 'Objeler ve Alanlar',
                                contentContainer: 'ToolboxPanel'
                            }]
                    },
                    {
                        type: 'layoutGroup',
                        orientation: 'vertical',
                        width: v - 200 - 220,
                        items:
                            [{
                                type: 'documentGroup',
                                height: h,
                                minHeight: h,
                                items:
                                    [{
                                        type: 'documentPanel',
                                        title: 'Tasarım',
                                        contentContainer: 'Document1Panel'
                                    }]
                            }]
                    },
                    {
                        type: 'tabbedGroup',
                        width: 220,
                        minWidth: 200,
                        alignment: 'right',
                        items:
                            [{
                                type: 'layoutPanel',
                                title: 'Özellikler',
                                contentContainer: 'PropertiesPanel'
                            }]
                    }]
            }];
            $('#jqxLayoutFormWindows').jqxLayout({ width: '100%', height: '100%', layout: layout });


            $$.FormManager.jqxDivSiraObject = $($$.FormManager.jqxDivSira).jqxSortable({disabled : true});


            $($$.FormManager.jqxDivSiraObject).unbind('beforeStop').bind('beforeStop', function () {
                setTimeout('$$.FormManager.DivSiraSet();',200);
            });
            $('#jqxFormManagerKaydet').jqxButton();
            $('#jqxFormManagerKaydet').bind('click',function () {
                $$.FormManager.Kaydet();
            })
            $("#jqxFormManagerDivSiralama").jqxToggleButton({ toggled: false});
            $("#jqxFormManagerDivSiralama").addClass('btn-default');
            $("#jqxFormManagerDivSiralama").bind('click', function () {
                var toggled = $("#jqxFormManagerDivSiralama").jqxToggleButton('toggled');

                $$.FormManager.jqxDivSiraObject.jqxSortable({disabled : !toggled});
                $("#jqxFormManagerDivSiralama").removeClass('btn-danger');
                $("#jqxFormManagerDivSiralama").removeClass('btn-default');
                if (toggled) {
                    $("#jqxFormManagerDivSiralama")[0].value = 'Satır Sıralama Aktif';
                    $("#jqxFormManagerDivSiralama").addClass('btn-danger');
                }
                else {
                    $("#jqxFormManagerDivSiralama").addClass('btn-default');
                    $("#jqxFormManagerDivSiralama")[0].value = 'Satır Sıralama Pasif';
                }
            });

        },
        EkleDiv: function () {
            var input = prompt("Satırı 1-12 arasında bölebilirsiniz.\n1,2,3,4,6,12", 2);
            if ($.isNumeric(input)) {
                if (!(input == 1 || input == 2 || input == 3 || input == 4 || input == 6 || input == 12)) {
                    alert("Beklenen aralıkta değil.");
                } else {
                    input=12/input;
                    var obj = {
                        Sira: -1,
                        DivId: $$.FormManager.uniqId("DIV_", ""),
                        SubDiv: [],
                        IslendiMi: false,
                        obj: null
                    };
                    for (var i = 1; i <= 12 / input; i++) {
                        obj.SubDiv.push({
                            Sira: i,
                            DivId: obj.DivId + "_" + i.toString(),
                            IslendiMi: false,
                            obj: null
                        });
                    }
                    $$.FormManager.jqxDivListe.push(obj);
                    $$.FormManager.DivIslem($$.FormManager.jqxDivListe.length - 1);
                    $$.FormManager.TasimaIslemleriLoad();
                }
            } else {
                alert("Sayısal Değer Girmediniz.");
            }
        },
        DivSiraSet:function(){
            var list= $($$.FormManager.jqxDivSiraObject).jqxSortable('toArray');
            for (var i = 0; i < list.length; i++) {
                for (var j = 0; j < $$.FormManager.jqxDivListe.length; j++) {

                    if($$.FormManager.jqxDivListe[j]!=null && $$.FormManager.jqxDivListe[j].DivId==list[i])
                    {
                        $$.FormManager.jqxDivListe[j].Sira=i;
                    }
                }
            }
        },
        DivIslem: function (row)
        {
            for (var i = row; i < $$.FormManager.jqxDivListe.length; i++) {
                var r = $$.FormManager.jqxDivListe[i];
                if (r.IslendiMi === false)
                {
                    r.obj = $('<div class="col-md-12 col-lg-12 sortable-item" style="border:0px solid black;  margin-left: -10px;  padding-bottom: 10px;" id="'+r.DivId+'"></div>');

                    $($$.FormManager.jqxDivSiraObject).append(r.obj);
                    for (var j = 0; j < r.SubDiv.length; j++) {
                        r.SubDiv[j].obj=$('<div Sira="0" class="col-md-'+(12/r.SubDiv.length)+' dropTarget" id="'+r.SubDiv[j].DivId+'" style="border:1px dashed black;min-height: 28px;"></div>');
                        r.obj.append(r.SubDiv[j].obj);
                        r.SubDiv[j].IslendiMi=true;
                        r.Sira=j;
                    }
                    var del=$('<button class="btn btn-xs btn-default" style="float: right;position: relative;margin: 4px -24px -22px -12px;" removeObj="'+r.DivId+'"><i class="fa fa-trash"></i></button>');
                    del.bind('click',function () {
                        $$.FormManager.DivDelete($(this).attr('removeObj'));
                    });
                    r.obj.append(del);
                    r.IslendiMi=true;
                    r.Sira=$('.sortable-item').length;
                    $$.FormManager.jqxDivListe[i]=r;
                }
            }
        },
        DivDelete:function (removeId) {
            var KontrolObject='#'+removeId +' .nesne';
            if($(KontrolObject).length>0)
            {
                alert("İçerisinde nesne var lütfen önce nesneleri siliniz veya taşıyınız.");
                return;
            }
            for (var i = 0; i < $$.FormManager.jqxDivListe.length; i++) {
                if($$.FormManager.jqxDivListe[i]!==null && $$.FormManager.jqxDivListe[i].DivId==removeId)
                {
                    $$.FormManager.jqxDivListe[i].obj.remove();
                    $$.FormManager.jqxDivListe[i]=null;
                }
            }
        },
        Kaydet:function () {
            var ManagerFormObject={
                FormDiv:{ Divler:[]},
                FormEleman:{},
                Tablo:{},
                TabloAlan:{},
                FormYayin:$$.FormManager.FormYayin
            };
            for (var i = 0; i < $$.FormManager.jqxDivListe.length; i++) {
                if($$.FormManager.jqxDivListe[i]!=null)
                {
                    ManagerFormObject.FormDiv.Divler.push({
                        Satirmi:true,
                        Sira:$$.FormManager.jqxDivListe[i].Sira,
                        HtmlId:$$.FormManager.jqxDivListe[i].DivId,
                        ClassCode:$($$.FormManager.jqxDivListe[i].obj).attr('class'),
                        UstFormDivIdHtmlId:null
                    });

                    for (var j = 0; j < $$.FormManager.jqxDivListe[i].SubDiv.length; j++) {
                        ManagerFormObject.FormDiv.Divler.push({
                            Satirmi:false,
                            Sira:$$.FormManager.jqxDivListe[i].SubDiv[j].Sira,
                            HtmlId:$$.FormManager.jqxDivListe[i].SubDiv[j].DivId,
                            ClassCode:$($$.FormManager.jqxDivListe[i].SubDiv[j].obj).attr('class'),
                            UstFormDivIdHtmlId:$$.FormManager.jqxDivListe[i].DivId
                        });
                    }

                }
            }
            var data=JSON.stringify(ManagerFormObject);
            @Html.Raw(q.viewData["FormManagerKaydetFnc"]);
        }
    };
    $$.FormManager.load();
</script>