﻿<div class="unselectable" id="@Html.Raw(q.viewData["Id"].ToString())"></div>
<style>
    .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>

<script>
    $$.C.ListeGrid = function (Ozellikler, data, jqhierarchy, Columns, datcol, Id, SubData, jqhierarchyId, btnList,rowDetFnc,cokName)
    {
        var obj = this;
        this.Ozellikler = Ozellikler;
        this.data = data;
        this.jqhierarchy = jqhierarchy;
        this.Columns = Columns;
        this.datcol = datcol;
        this.Id = Id;
        this.SubData = SubData;
        this.jqhierarchyId = jqhierarchyId;
        this.btnList = btnList;
        this.rowDetFnc = rowDetFnc;
        this.RowDetList = {};
        this.DeleteRowData = [];
        this.groups = [];
        this.cokName = cokName;
        this.GetComboDataAdaptor = function (data) {
            //var xx = obj;
            var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafields:
                    [
                        { name: 'id', type: 'int' },
                        { name: 'label', type: 'string' }
                    ]
                };

            var dataAdapter = new $.jqx.dataAdapter(source);
            return dataAdapter;
        }
        this.SetGroupCookie = function (data) {
            this.SetCookie("GroupBilgisi", data);
            this.groups = data;
        }
        this.SetColumCookie = function () {
            if (this.cokName.length > 0) {
                var c = $("#" + this.Id).jqxGrid('getstate');
                var ObjCol = Object.keys(c.columns);
                var data = [];
                for (var i = 0; i < ObjCol.length; i++) {
                    data.push({ checked: !c.columns[ObjCol[i]].hidden, Name: c.columns[ObjCol[i]].text, datafield: ObjCol[i] });
                }
                this.SetCookie("ColumHideShow", data);
            }
        }
        this.getColumCookie = function () {
            var ggg = this.getCookie("ColumHideShow");
            if (ggg != null) {
                for (var i = 0; i < ggg.length; i++) {
                    var Islem = ggg[i].checked ? 'showcolumn' : 'hidecolumn';
                    $('#' + this.Id).jqxGrid(Islem, ggg[i].datafield); 
                }
            }
        }
        this.GetGroupCookie = function () {
            var ggg = this.getCookie("GroupBilgisi");
            if (ggg != null)
            {
                for (var i = 0; i < ggg.length; i++) {
                    $('#' + this.Id).jqxGrid('addgroup', ggg[i]);

                    $("#" + this.Id).jqxGrid('hidecolumn', ggg[i]);
                }
            }
        }
        this.SetCookie = function(Name,Data) { 
            if (this.cokName.length > 0)
            {
                var date = new Date();
                var minutes = 60 * 24 * 265;
                date.setTime(date.getTime() + (minutes * 60 * 1000));
                $.cookie(this.cokName + '_' + Name, JSON.stringify(Data), { expires: date }); 
            } 
        }
        this.getCookie = function (Name) {
            if (this.cokName == "")
                return null;
            return JSON.parse($.cookie(this.cokName + '_' + Name) || null);
        }
        this.load = function () {
            var xx = obj;
            debugger;
            var source =
                {
                    localdata: xx.data,
                    datatype: "array",
                    datafields: xx.datcol
                };
            var treeViewGrid = false;
            if (xx.jqhierarchy !== null)
            {
                source['hierarchy'] = xx.jqhierarchy;
                source["id"] = xx.jqhierarchyId;
                treeViewGrid = true;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);

            for (var i = 0; i < xx.Columns.length; i++) {
                switch (xx.Columns[i].columntype)
                {
                    case "button":
                        if (xx.Columns[i].buttonclick != null) {
                            var fnc = xx.Columns[i].buttonclick;
                            var text = xx.Columns[i].text;
                            fnc = fnc.replace(",datarow:", ", Id:Id, datarow:");
                            xx.Columns[i].buttonclick = function (row,a,b,c) {
                                debugger;
                                if (treeViewGrid)
                                    var datarow = $("#" + xx.Id).jqxTreeGrid('getrowdata', row);
                                else
                                    var datarow = $('#' + xx.Id).jqxGrid('getrowdata', row);
                                var Id = xx.Id;
                                datarow = JSON.stringify(datarow);
                                eval(fnc);
                            };

                            xx.Columns[i].cellsrenderer= function () {
                                return text;
                            };
                        }
                        break;
                    case "dropdownlist":

                        xx.Columns[i].initeditor = function (row, value, editor) {
                            debugger;
                            var xx = obj;
                            var datafield = $('#' + xx.Id).jqxGrid('getselectedcell').datafield;
                           // var datafield = xx.Columns[i].datafield;
                            editor.jqxDropDownList({ source: xx.GetComboDataAdaptor(xx.SubData[datafield]), displayMember: 'text', valueMember: 'id', autoOpen: true, filterable: true, filterPlaceHolder: 'Ara', searchMode: 'containsignorecase' });
                        }
                        break;
                    case "combobox":
                        xx.Columns[i].initeditor = function (row, value, editor) {
                            var xx = obj;
                            var datafield = $('#' + xx.Id).jqxGrid('getselectedcell').datafield;
                            editor.jqxComboBox({ source: xx.GetComboDataAdaptor(xx.SubData[datafield]), displayMember: 'text', valueMember: 'id', autoOpen: true, autoComplete: true });
                        }


                    case "numberinput":
                    case "numberinputdec5":
                       
                        xx.Columns[i].align = 'right';
                        xx.Columns[i].cellsalign = 'right';
                        xx.Columns[i].cellsformat = 'd2';
                        if (xx.Columns[i].columntype == "numberinputdec5") {
                            xx.Columns[i].columntype = "numberinput";
                            xx.Columns[i].cellsformat = 'd5';
                            xx.Columns[i].initeditor = function (row, cellvalue, editor) {
                                editor.jqxNumberInput({ decimalDigits: 5 });
                            };
                        }
                        if (xx.Ozellikler.showAggregates === true && xx.Columns[i].showAggregates == true) {
                            debugger;
                            xx.Columns[i].aggregates = ['sum'];
                            xx.Columns[i].aggregatesrenderer = function (aggregates) {
                                var renderstring = "";
                                $.each(aggregates, function (key, value) {
                                    //var name = key == 'sum' ? 'Min' : 'Max';
                                    renderstring += '<div style="position: relative; margin: 4px; overflow: hidden;">Toplam: ' + value + '</div>';
                                });
                                return renderstring;
                            };
                        }
                        delete xx.Columns[i].showAggregates;
                        break;


                    case "date":
                        xx.Columns[i].cellsformat = 'dd.MM.yyyy';
                        delete xx.Columns[i].showAggregates;
                        break;

                    case "datetimeinput":
                        xx.Columns[i].cellsformat = 'dd.MM.yyyy';
                        delete xx.Columns[i].showAggregates;
                        break;

                    case "datetime":
                        xx.Columns[i].cellsformat = 'dd.MM.yyyy';
                        delete xx.Columns[i].showAggregates;
                        break;

                }



            }

            switch (xx.Ozellikler.filterMode)
            {
                case 1:
                    xx.Ozellikler.filterMode = "default";
                    break;
                case 2:
                    xx.Ozellikler.filterMode = "simple";
                    break;
                case 3:
                    xx.Ozellikler.filterMode = "advanced";
                    break;
            }

            if (treeViewGrid === false)
                switch (xx.Ozellikler.selectionmode) {
                    case 0:
                        xx.Ozellikler.selectionmode = "none";
                        break;
                    case 1:
                        xx.Ozellikler.selectionmode = "singlerow";
                        break;
                    case 2:
                        xx.Ozellikler.selectionmode = "multiplerows";
                        break;
                    case 3:
                        xx.Ozellikler.selectionmode = "multiplerowsextended";
                        break;
                    case 4:
                        xx.Ozellikler.selectionmode = "singlecell";
                        break;
                    case 5:
                        xx.Ozellikler.selectionmode = "multiplecells";
                        break;
                    case 6:
                        xx.Ozellikler.selectionmode = "multiplecellsextended";
                        break;
                    case 7:
                        xx.Ozellikler.selectionmode = "multiplecellsadvanced";
                        break;
                    case 8:
                        xx.Ozellikler.selectionmode = "checkbox";
                        break;
                }
            else
            {
                delete xx.Ozellikler.selectionmode;
                xx.Ozellikler.selectionMode = "singleRow";

            }
            var objectOlustur = xx.Ozellikler;
            objectOlustur["columns"] = xx.Columns;
            objectOlustur["source"] = dataAdapter;
            objectOlustur.showToolbar = xx.btnList.length>0

            objectOlustur.renderToolbar = function (toolbar) {
                var xx = obj;
                var elemanlist = $("<div style='margin: 1px;'></div>");

                for (var i = 0; i < xx.btnList.length; i++) {
                    var e = $("<button class='btn'><i class=''></i></button>");
                    e.append(" " + xx.btnList[i].btnName);
                    var fnc = xx.btnList[i].Function;
                    $(e).attr('onclick', fnc);
                    /*
                    e.bind('click', function (a,b,c) {
                        debugger;
                        eval(fnc);
                    });*/
                    e.addClass(xx.btnList[i].btnClass);
                    e.find('i').addClass(xx.btnList[i].iClass);
                    elemanlist.append(e);
                }


                toolbar.append(elemanlist);
            };
            this.treeViewGrid = treeViewGrid;
            if (treeViewGrid) {
                delete objectOlustur.rowdetails;
                delete objectOlustur.toolbarheight;
                delete objectOlustur.groupable;
                $("#" + xx.Id).jqxTreeGrid(objectOlustur);
                $("#" + xx.Id).jqxTreeGrid('expandAll');
            }
            else {
                if (objectOlustur.rowdetails === true) {
                    var initrowdetails = function (index, parentElement, gridElement, record) {
                        var xx = obj;

                        id = $(parentElement).find('div.subnesne').attr('id');
                        xx.RowDetList[record.uid] = id;



                        xx.rowdetailsFnc(record.uid);
                    }
                    objectOlustur.initrowdetails = initrowdetails;
                    objectOlustur.rowdetailstemplate = { rowdetails: "<div id='subnesne' class='subnesne' style='margin: 10px; margin-right: 30px;'></div>", rowdetailsheight: 220, rowdetailshidden: true };


                }

                if (this.cokName.length > 0)
                {

                    objectOlustur.showstatusbar = true;
                    objectOlustur.statusbarheight =40;
                    objectOlustur.renderstatusbar = function (statusbar) {
                        var xx = obj; 
                        try {

                            var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                            statusbar.append(container);
                            var ColHide = $('<div style="float:right;"></div>');
                            ColHide.attr('Id', xx.Id + '_GridCol');
                            container.append(ColHide);

                            if (true) {
                                var c = $("#" + xx.Id).jqxGrid('getstate');
                                var ObjCol = Object.keys(c.columns);
                                var data = [];
                                for (var i = 0; i < ObjCol.length; i++) {
                                    data.push({ checked: !c.columns[ObjCol[i]].hidden, Name: c.columns[ObjCol[i]].text, datafield: ObjCol[i] });
                                }

                                var source =
                                    {
                                        datafields: [
                                            { name: 'checked', type: 'bool' },
                                            { name: 'Name', type: 'string' },
                                            { name: 'datafield', type: 'string' }
                                        ],
                                        localdata: data,
                                        datatype: "array",
                                    };
                                var dataAdapter = new $.jqx.dataAdapter(source);

                                $(ColHide).jqxDropDownList({ checkboxes: true, filterable:true,dropDownVerticalAlignment: 'top', source: dataAdapter, displayMember: "Name", valueMember: "Name", width: 250, height: 30 });

                                $(ColHide).bind('open', function (event) {
                                    var xx = obj;
                                    var c = $("#" + xx.Id).jqxGrid('getstate');
                                    var ObjCol = Object.keys(c.columns);
                                    var data = [];
                                    for (var i = 0; i < ObjCol.length; i++) {
                                        data.push({ checked: !c.columns[ObjCol[i]].hidden, Name: c.columns[ObjCol[i]].text, datafield: ObjCol[i] });
                                    }

                                    var source =
                                        {
                                            datafields: [
                                                { name: 'checked', type: 'bool' },
                                                { name: 'Name', type: 'string' },
                                                { name: 'datafield', type: 'string' }
                                            ],
                                            localdata: data,
                                            datatype: "array",
                                        };
                                    var dataAdapter = new $.jqx.dataAdapter(source); 
                                    $(ColHide).jqxDropDownList({ source: dataAdapter });
                                });

                                $(ColHide).bind('checkChange', function (event) {
                                    var xx = obj;
                                    if (event.args) {
                                        debugger;
                                        var item = event.args.item;
                                        if (item) {
                                            var xx = obj; 
                                            var ColName = item.originalItem.datafield;
                                            if (item.checked == true) {
                                                $("#" + xx.Id).jqxGrid('showcolumn', ColName);
                                            } else
                                            { 
                                                $("#" + xx.Id).jqxGrid('hidecolumn', ColName);
                                            }
                                            window[xx.Id].SetColumCookie();
                                        }
                                    }
                                });
                            }
                        } catch (e) {
                            console.log(e);
                        }

                    };
                }


                objectOlustur.showfilterrow = objectOlustur.filterable;
                $("#" + xx.Id).jqxGrid(objectOlustur);
                xx.getColumCookie();
                if (objectOlustur.groupable == true) {


                    xx.GetGroupCookie();
                    $("#" + xx.Id).bind("groupschanged",
                        function (event) {
                            var xx = obj;
                            
                            debugger;
                            // event arguments.
                            var args = event.args;
                            // type of change. Possible values: Add, Remove, Clear, Insert
                            var type = args.type;
                            // group index. The index of the added, removed or inserted group. If the type is "Clear", -1 is passed.
                            var groupIndex = args.index;
                            // groups array.
                            var groups = args.groups;
                            if (type == "Remove") {
                                var gg = $.Enumerable.From(window[xx.Id].groups).Except(groups).ToArray();
                                for (var i = 0; i < gg.length; i++) {
                                    $("#" + xx.Id).jqxGrid('showcolumn', gg[i]);
                                }
                            } else
                            {
                                for (var i = 0; i < groups.length; i++) {
                                    $("#" + xx.Id).jqxGrid('hidecolumn', groups[i]);
                                }
                            }
                            window[xx.Id].groups = JSON.parse(JSON.stringify(groups));
                            window[xx.Id].SetGroupCookie(window[xx.Id].groups);

                        });
                    
                }
                if (objectOlustur.rowdetails === true)
                {
                    $("#" + xx.Id).bind('rowexpand', function (event) {

                        var xx = obj;
                        debugger;

                        var args = event.args;
                        // row's bound index.
                        var rowBoundIndex = args.rowindex;
                        var record = $("#" + xx.Id).jqxGrid('getrowdata', rowBoundIndex);
                        xx.rowdetailsFnc(record.uid);

                    });


                }
            }




        };
        this.rowdetailsFnc = function (uid) {
            var xx = obj; 
            if ((xx.RowDetList[uid] || "").length > 0) {

                $('#' + xx.Id).find('#' + xx.RowDetList[uid]).html('<div class="loader">Lütfen Bekleyiniz. - Loading...</div>');
                var record = $("#" + xx.Id).jqxGrid('getrowdata', uid);

                var PostData = {
                    Select: '#' + xx.Id + ' #' + xx.RowDetList[uid],
                    id: xx.RowDetList[uid],
                    data: record,
                    MaterParentGridId: xx.Id
                };
                var SendData = JSON.stringify(PostData);

                eval(xx.rowDetFnc);
            }
        };

        this.returnEval=function returnEval(str) {
            return function () { eval(str); }
        }
        this.getSelectValue = function () {
            if (this.treeViewGrid == true) {
                var row = $("#" + this.Id).jqxTreeGrid('getSelection');
                if (row.length > 0) {
                    delete row[0].parent;
                    delete row[0].records;
                    delete row[0].originalRecord;
                    return JSON.stringify(row[0]);
                }
                else
                    return JSON.stringify(null);
            } else {
                var rowindex = $("#" + this.Id).jqxGrid('getselectedrowindex');
                if (rowindex == -1) {
                    var xxx=$("#" + this.Id).jqxGrid('getselectedcell')
                    try {
                        rowindex= xxx.rowindex;
                    } catch (e) {
                        rowindex = -1;
                    }
                }
                var data = $("#" + this.Id).jqxGrid('getrowdata', rowindex);
                return JSON.stringify(data);
            }
        }
        this.getData = function () {
            if (this.treeViewGrid == true) {
                return $("#" + this.Id).jqxTreeGrid('getRows');
            }
            else
                return $("#" + this.Id).jqxGrid('getboundrows');
        }
        this.getDeleteData = function () {
            return this.DeleteRowData;
        }
        this.setData = function (data) {
            if (this.treeViewGrid == true) {
                for (var i = 0; i < data.length; i++) {
                    $("#" + this.Id).jqxTreeGrid('updateRow', data[i].uid, data[i]);
                }
            }
            else
            {
                for (var i = 0; i < data.length; i++) {
                    $("#" + this.Id).jqxGrid('updateRow', data[i].uid, data[i]);
                } 
            } 
        }
        this.getGrid = function () {
            if (this.treeViewGrid == true) {
                return $("#" + this.Id);
            } else { 
                return $("#" + this.Id);
            }
        }
        this.DeleteRow = function (uid) {
            debugger;
            var row = null;
            if (this.treeViewGrid == true) {
                row = $("#" + this.Id).jqxTreeGrid('getRow', uid);               
                $("#" + this.Id).jqxTreeGrid('deleteRow', uid);
            } else {
                row = $("#" + this.Id).jqxGrid('getrowdatabyid', uid);
                $("#" + this.Id).jqxGrid('deleterow', uid);
            }
            this.DeleteRowData.push(row);
            $("#" + this.Id).trigger("cellvaluechanged");
        }

        this.load();
    }
    

    function returnEval(str) {
        return function () { eval(str); }
    }


    var @Html.Raw(q.viewData["Id"].ToString()) =
    new $$.C.ListeGrid(
        @Html.Raw(q.viewData["Ozellikler"].toSerializeJson()) ,
        @Html.Raw(q.viewData["data"].toSerializeJson()) ,
        @Html.Raw(q.viewData["jqhierarchy"].toSerializeJson()) ,
        @Html.Raw(q.viewData["Columns"].toSerializeJson()) ,
        @Html.Raw(q.viewData["datcol"].toSerializeJson()) ,
        @Html.Raw(q.viewData["Id"].toSerializeJson()) ,
        @Html.Raw(q.viewData["SubData"].toSerializeJson()) ,
        @Html.Raw(q.viewData["jqhierarchyId"].toSerializeJson()),
        @Html.Raw(q.viewData["btnList"].toSerializeJson()),
        @Html.Raw(q.viewData["PostRowDetailsFnc"].toSerializeJson()),
        @Html.Raw(q.viewData["CookieName"].toSerializeJson())

    );

</script>