﻿<!DOCTYPE html>
<html>
<head>
    @{
        AJAXPMVC.q.viewData["Version"] = "?v=1.0.1.7";
    } 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Theme/bootstrap/css/bootstrap.min.css@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Theme/dist/css/AdminLTE.min.css@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
        <link href="@AJAXPMVC.q.getDomanin/CONTENT/css/globalcss.css" rel="stylesheet" />
        <link rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Theme/dist/css/skins/skin-blue.min.css@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}">

        <link rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Theme/dist/css/skins/_all-skins.min.css@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}">
        <!-- iCheck -->
        <link rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Theme/plugins/iCheck/square/blue.css@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <![endif]-->
        <!-- jQuery 2.2.3 -->
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Theme/plugins/jQuery/jquery-2.2.3.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Theme/bootstrap/js/bootstrap.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <!-- AdminLTE App -->
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Theme/plugins/slimScroll/jquery.slimscroll.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Theme/dist/js/app.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Theme/plugins/iCheck/icheck.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>


        <!-- JQWIDGETS -->
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/jqxcore.js"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/jqx-all.js"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/globalization/globalize.js"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/globalization/globalize.culture.tr-TR.js"></script>
        <link async rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/styles/jqx.base.css">
        <link async rel="stylesheet" href="@AJAXPMVC.q.getDomanin/CONTENT/Lib/jqwidgets/styles/jqx.bootstrap.css">

        <script src="@AJAXPMVC.q.getDomanin/CONTENT/js/jquery.cookie.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/js/AJAXP.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>
        <script src="@AJAXPMVC.q.getDomanin/CONTENT/js/jquery.linAJAXPMVC.q.min.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>


        <script src="@AJAXPMVC.q.getDomanin/CONTENT/js/LOAD.js@{WriteLiteral(AJAXPMVC.q.viewData["Version"]);}"></script>


        <script id="scr">
            var config = { Domain: "@AJAXPMVC.q.getDomanin", SessionId: "@AJAXPMVC.q.session.OturumId",LastData: @Html.Raw(ViewBag.returns) };
            function logout(data) {
                @Html.Raw(AJAXPMVC.q.viewData["unload"]);
            }
            $(document).ready(function () {
                $$.load(config);
            });
        </script>
    </head>
    <body onbeforeunload="logout(1);" onunload="logout(2);" onclose="logout(3);" class="hold-transition skin-green sidebar-mini">
        <div class="wrapper" id="BODY"></div>
        @RenderBody()
    </body>
</html> 